.view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  max-width: 100vw;
  margin: 2rem 3rem 0 3rem;
  min-height: 70vh;
  min-width: 90%;
  margin-bottom: 5rem;
}

.code {
  font-family: "Roboto Mono", monospace;
  color: #06f7e7;
  font-size: 0.9rem;
}

.section-title {
  font-weight: 700;
  font-size: 2rem;
  color: var(--light-5);
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}

.section-title .line {
  margin-left: 1.3rem;
  width: 100%;
  border-bottom: 0.5px solid var(--dark-4);
}

.section-title img {
  width: 1.5rem;
  margin-right: 1rem;
}

.section-content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}

p {
  line-height: 1.5rem;
}

.theme-border {
  border-color: var(--light-1) var(--primary) var(--primary) var(--light-1);
  border-style: dashed solid solid dashed;
  border-width: 2px 1px 1px 2px;
  border-radius: 4px;
  padding: 1rem;
}
