.Nav {
  width: 98vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  position: fixed;
  left: 0;
  top: 0;
  transition: 0.5s ease-out;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  z-index: 2;
  height: 3.5rem;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}

.Nav a {
  height: fit-content;
  width: fit-content;
}

.Nav a img.logo {
  width: 78px;
  height: 48px;
}

.Nav button {
  border: 0;
  background: inherit;
  height: fit-content;
}

.Nav .nav-right > button,
.Nav .nav-right > a {
  margin-left: 3rem;
}

.Nav .nav-right > button:not(.resume),
.Nav .nav-right > a:not(.resume) {
  margin-top: 0.6rem;
}

.Nav.pop {
  backdrop-filter: blur(3px);
  background-color: var(--dark-transparent);
  border-bottom: 1px solid var(--light-1);
}

.Nav.expand {
  height: 100vh;
}

.Nav.expand .nav-dropdown {
  bottom: 0;
}

.Nav .nav-left,
.Nav .nav-right {
  display: flex;
  margin: 0.5rem 1vw;
  padding-right: 1rem;
}

.Nav .nav-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -55rem;
  bottom: initial;
  opacity: 0;
  transition: 0.5s ease-out;
  margin: auto;
  width: 92vw;
}

.Nav .nav-dropdown .nav-item {
  font-size: 1.5rem;
  margin: 0 0 4rem 0;
}

.Nav .nav-dropdown .nav-item.resume {
  padding: 1.2rem;
}

.Nav .fa {
  display: none;
  font-size: 2rem;
  color: var(--light-1);
  margin-top: 0.5rem;
  margin-right: 2rem;
  cursor: pointer;
}

.Nav .fa:hover,
.Nav .fa.active {
  color: var(--light-5);
}

.Nav img {
  width: 2rem;
}

.Nav .nav-item {
  font-family: "Roboto Mono", monospace; /* $font-code */
  font-size: 1rem;
  user-select: none;
  color: var(--light-2);
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid transparent;
  border-radius: 4px;
}

.Nav .nav-item:hover {
  color: var(--primary);
}

.Nav .nav-item.resume {
  border-color: var(--primary);
  color: var(--primary);
  padding: 0.6rem 0.7rem 0.7rem 0.7rem;
}

.Nav .nav-item.resume:hover {
  background-color: rgba(100, 255, 218, 0.1);
}

.Nav .nav-item.selected {
  color: var(--primary);
}

@media screen and (max-width: 900px) {
  .Nav .nav-right {
    display: none;
  }

  .Nav.expand .nav-dropdown {
    display: flex;
    opacity: 1;
    top: 5.5rem;
  }

  .Nav .fa {
    display: flex;
  }
}
